<!Doctype html>
<html lang='ja'>
<head>

<title>{{ title }}</title>
  <link rel="stylesheet" href="static/css/bootstrap.css">
  <script type="text/javascript" src="static/js/bootstrap.bundle.min.js"></script>
  <meta charset="UTF-8">

</head>

<body>    
  <div style="padding: 15px; background: rgb(252, 252, 252)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">TM health</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav me-auto">

            <li class="nav-item">
              <a class="nav-link active" href="health_home">健康管理</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="task_home">タスク管理</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="user_information">編集</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">ログアウト</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<div style="padding: 30px; background: rgb(252, 252, 252)">
      {% block content %}
      <!-- ここにメインコンテンツを書く -->
      {% endblock %}
    </div>
  </div>
</body>
</html>
