
{% extends "head.html" %}

{% block content %}

<h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ようこそ {{user}}</font></font></h1>

 <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">今日のスコア</font></font></h3>
 
 <div class="card  border-primary mb-3" style="max-width: 20rem;">
	 <div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">activity</font></font></div>
  		<div class="card-body">
		    <h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">身体情報</font></font></h4>
	    <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">自分の身体情報を入力してみましょう</font></font></p>
	<a href="/health_physical_res">入力</a><br> 
 </div>
</div>

<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">activity</font></font></div>
  <div class="card-body">
    <h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">健康記録</font></font></h4>
    <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">今日行った運動等を記録してみましょう</font></font></p>
 	<a href="/health_information_res">入力</a><br>
 </div>
</div>

  {% endblock %}
