{% extends "head.html" %}

{% block content %}

<div style="padding: 15px; background: rgb(252, 252, 252)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">TM health</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav me-auto">

            <li class="nav-item">
              <a class="nav-link active" href="health_home">健康管理</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="task_home">タスク管理</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="user_information">編集</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">ログアウト</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<div style="padding: 30px; background: rgb(252, 252, 252)">

        <title>TM health</title>
        <h1>TM health</h1>

    <form action="/user_information_res" method="post">
	<div>
            <label for="user">user</label>
            <input type="text" id="user" name="user"  min="0" max="100" required>
        </div>
        <div>
            <label for="password">password</label>
            <input type="password" id="password" name="password" min="0" max="100" required>
        </div>

        <div>
            <label for="mailaddress">mailaddress</label>
            <input type="email" id="mailaddress" name="mailaddress" min="0" max="100" required>
        </div>

        <button type="submit" class="btn btn-outline-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">編集</font></font></button>
    </form>
    <form action="/health_home">
        <button type="submit" class="btn btn-outline-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">戻る</font></font></button>
    </form>

    {% endblock %}
