{% extends "head.html" %}

{% block content %}

<div style="padding: 15px; background: rgb(252, 252, 252)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">TM health</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav me-auto">

            <li class="nav-item">
              <a class="nav-link active" href="health_home">健康管理</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="task_home">タスク管理</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="user_information">編集</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">ログアウト</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<div style="padding: 30px; background: rgb(252, 252, 252)">

<h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ようこそ {{user}}</font></font></h1>

<h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">今日のタスク</font></font></h3>


<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ヘッダ</font></font></div>
  　<div class="card-body">
    　　<h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">メインカードのタイトル</font></font></h4>
    　<p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">カードのタイトルに基づいて作成し、カードのコンテンツの大部分を構成する簡単なテキストの例。</font></font></p>
    <a href="#">入力</a>
  </div>
</div>


<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ヘッダ</font></font></div>
  　<div class="card-body">
    　　<h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">メインカードのタイトル</font></font></h4>
    　<p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">カードのタイトルに基づいて作成し、カードのコンテンツの大部分を構成する簡単なテキストの例。</font></font></p>
    <a href="#">入力</a>
  </div>
</div>

{% endblock %}
