<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    
<title>TM health</title>

  </head>
  <body>
  
<h1>TM health</h1>
<p>TM healthへのユーザー登録</p>


<form action="/toures" method="post">
  <div>
    <label for="user">user</label>
    <input type="text" id="user" name="user" min="0" max="100" required>
  </div>

  <div>
    <label for="password">password</label>
    <input type="password" id="password" name="password" min="0" max="100" required>
  </div>

　<button>登録</button>
</form>

  </body>
</html>
