{% extends "head.html" %}

{% block content %}

 <!-- ここにメインコンテンツを書く -->
 
  <h1>TM health</h1>
  <p>TM healthへのユーザー登録</p>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form action="/toures" method="post">

    <div>
      <label for="user">user</label>
      <input type="text" id="user" name="user" min="0" max="100" required>
    </div>

    <div>
      <label for="password">password</label>
      <input type="password" id="password" name="password" min="0" max="100" required>
    </div>

    <div>
      <label for="mailaddress">mailaddress</label>
      <input type="email" id="mailaddress" name="mailaddress" min="0" max="100" required>
    </div>

    <button type="submit" class="btn btn-primary">登録</button>

 </form>

{% endblock %}
